form > fieldset {
    border: 0;
    padding: 0;
}

form .validation-message,
form output.bad {
    padding: 0;
    list-style-position: inside;
    color: var(--color-danger);
}

form output.good {
    padding: 0;
    list-style-position: inside;
    color: var(--color-accent4);
}

form fieldset > ul {
    margin-top: -0.5rem;
    margin-bottom: 1.5rem;
}

form input {
    background-color: var(--color-foreground1);
    border: 0;
    border-radius: 2px;
    padding: 0.5rem;
    width: 100%;
}

form textarea {
    background-color: var(--color-foreground1);
    border: 0;
    border-radius: 2px;
    padding: 0.5rem;
    width: 100%;
    height: 8rem;
    resize: vertical;
}

.login-wrap {
    position: absolute;
    width: 600px;
    max-width: 100%;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    padding: 0.5rem;
}

.newthread-wrap {
    width: 100%;
}

.threads {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    width: 100%;
}

.answers {
    width: 100%;
}

.threads > .seperator:not(:nth-child(1)) {
    margin-top: 2rem;
}

.thread {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-top: 1px solid var(--color-border0);
    margin-top: 1rem;
}

.thread > * {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    justify-content: space-between;
}

.thread.inspect > .left {
    justify-content: start;
}

.thread.inspect > .left > .score {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.thread > .left > .answers {
    background-color: var(--color-accent4);
    color: var(--color-background0);
    border-radius: 2px;
}

.thread > .left > * {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.thread > .right {
    width: 100%;
}

.thread > .right > .content {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
}

.thread > .right > .content > .title {
    padding-bottom: 0.5rem;
}

.thread > .right > .details {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.thread > .right > .details {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.thread > .right > .details > * {
    padding: 0.2rem;
}

.thread > .right > .details > .tags {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.thread > .right .tags > .tag {
    margin-right: 0.5rem;
    background-color: var(--color-accent2);
    color: var(--color-background0);
    border-radius: 2px;
    padding: 0.2rem;
}

.thread > .right > .details > .date {
    width: 100%;
    text-align: right;
    padding-right: 1rem;
}

.thread > .right > .details {
    align-items: center;
}

.thread.inspect > .right > .comments {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}

.thread.inspect > .right > .comments > .comment {
    padding: 0.5rem;
    border-top: 1px solid var(--color-border0);
    display: flex;
    flex-direction: row;
}

.thread.inspect > .right > .comments > .comment > * {
    padding: 0.5rem;
    padding-top: 0;
}

.comment > .left > .votes {
    color: var(--color-accent4);
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
}

.addComment {
    opacity: 0.8;
    color: var(--color-accent2);
    padding: 0.5rem;
}

.date {
    opacity: 0.8;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.allTags,
.allUsers {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    width: 50%;
}

.allTags > .tag,
.allUsers > .user {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    align-items: center;
}

.allTags > .tag > .count,
.allUsers > .user > .count {
    padding: 0.5rem;
    margin-right: 1rem;
    background-color: var(--color-accent4);
    color: var(--color-background0);
    border-radius: 2px;
}

.allUsers > .user > .avatar {
    margin-left: 0.5rem;
}

.region-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.snippet {
    max-height: 4.1rem;
    max-width: 100%;
    overflow: hidden;
    overflow-wrap: anywhere;
}

.left > .answers {
    padding: 0.2rem;
}

.newThread {
    background-color: var(--color-accent2);
    color: var(--color-background0);
    width: 6rem;
    text-align: center;
    padding: 0.2rem 0.7rem;
    margin: 0.5rem;
    border-radius: 2px;
}

.newThread:hover {
    text-decoration: none;
    color: var(--color-background5);
}

.mark {
    width: 13rem;
}

.answer.marked {
    border: 1px solid var(--color-accent4);
}
